In [1]:
import pandas as pd

In [ ]:
# 1. Charger les deux datasets et afficher leur taille
df_students = pd.read_csv("StudentsPerformance.csv")
df_netflix = pd.read_csv("netflix_titles.csv")
print("Taille StudentsPerformance:", df_students.shape)
print("Taille Netflix Titles:", df_netflix.shape)

Taille StudentsPerformance: (1000, 8)
Taille Netflix Titles: (8807, 12)

In [3]:
# Créons une colonne 'id' fictive pour la jointure (ex: les 100 premières lignes seulement)
df_students = df_students.head(100).copy()
df_netflix = df_netflix.head(100).copy()
df_students['id'] = range(1, 101)
df_netflix['id'] = range(1, 101)
# 2. Effectuer une jointure sur la colonne commune 'id'
df_merged = pd.merge(df_students, df_netflix, on='id')

print("Taille du dataset fusionné:", df_merged.shape)

Taille du dataset fusionné: (100, 21)

In [4]:
# 3. Ajouter de nouvelles colonnes à df_students depuis df_netflix
# Exemple : on ajoute 'title' et 'date_added' à df_students
df_students_extended = df_students.merge(df_netflix[['id', 'title', 'date_added']], on='id')

print(df_students_extended.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score  id  \
0                    none          72             72             74   1
1               completed          69             90             88   2
2                    none          90             95             93   3
3                    none          47             57             44   4
4                    none          76             78             75   5

                   title          date_added
0   Dick Johnson Is Dead  September 25, 2021
1          Blood & Water  September 24, 2021
2              Ganglands  September 24, 2021
3  Jailbirds New Orleans  September 24, 2021
4           Kota Factory  September 24, 2021